body {
  background-color: whitesmoke;
  font-family: "Raleway";
  font-size: 14px;
  color: black;
}
/*====== HEADER SECTION======*/
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  height: 50px;
  /* top: 0; */
}
.logo{
  font-family: lobster;
  font-size: 1.5em;
}
.logo span{
  color: chocolate;
}
a{
  text-decoration: none;
}
nav > ul {
  
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 80px;
}
nav > ul li {
  margin-left: 1rem;
}
/*====== ABOUT SECTION======*/
.about{
 text-align: center;
 padding: 1em;
}
.hero{
  /* margin-top: 50px; */
  color: white;
  background-color: #626b6b; 
  padding: 1em .5em;
}

.hero h4{
  font-family: lobster;
  font-weight: 400;
  font-size: 2rem;
  color: chocolate;
}
.hero h3, .hero h5{
  font-weight: 400;
  font-size: 2rem;
}
.title{
  color: chocolate;
}

.about p, .about ul{
  text-align: left;
}







/* svg {
  margin-top: 1rem;
  margin-left: 24rem;
  cursor: pointer;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
